//$primary: #282d30;
//$secondary: #a0a5ba;
//$dark: #05172e;
//$success: #2ed47a;
//$danger: #ff4a4a;
//$info: #eef1f7;
//$gray: #74798c;
//$dark-blue: #003171;
//$accent: #0064ff;
//$accent-light: #109cf1;
//$indigo: #3f4fe0;

$black: #000000;
$white: #ffffff;
$logo-main: #003d64;
$logo-red: #d52023;
$logo-gray: #b1b3b3;
$dark: #282d30;
$gray: #a0a5ba;
$gray-lighter: #b9c1d4;
$gray-light: #f5f7fb;
$gray-border: #eef1f7;
$light: #fafbfd;
$red: #fa386c;
$green: #0ddc97;
$yellow: #ffe603;
$orange-light: #fab811;
$blue: #0054fe;
$blue-action: #009ef7;
$gradient: linear-gradient(87.09deg, #1042f1 1.33%, #109cf1 100%);

//$ng-select-selected: lighten($ng-select-highlight, 46)
