.conveyor {
  //display: flex;
  //flex-direction: column;
  &-list {
    height: calc(100% - 190px);
  }
  &-table {
    & .ng-select.ng-select-single .ng-select-container {
      height: 24px !important;
    }
    & .ng-select .ng-select-container {
      align-items: center;
      min-height: 24px !important;
    }
    & .ng-select .ng-arrow-wrapper {
      font-size: 18px !important;
      color: $blue !important;
    }
    & .table {
      & .thead,
      & .tbody {
        & .trow {
          display: grid;
          grid-template-columns: minmax(60px, 200px) minmax(100px, 200px) minmax(200px, auto) minmax(120px, 200px) 120px;
          grid-gap: 10px;
        }
      }
      & .tbody {
        padding-bottom: 16px;
        & .trow {
        border-radius: 5px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            border-bottom: 1px solid #eef1f7;
          }
        }
      }
    }
  }
}
