.search-page {
  & .result-table {
    height: 370px;
    & .ng-select.ng-select-single .ng-select-container {
      height: 24px !important;
    }
    & .ng-select .ng-select-container {
      align-items: center;
      min-height: 24px !important;
    }
    & .ng-select .ng-arrow-wrapper {
      font-size: 18px !important;
      color: $blue !important;
    }
    & .table {
      & .trow {
        display: grid;
        grid-template-columns: 50px repeat(4, 1fr);
        grid-gap: 15px;
      }
      & .tbody {
        padding-bottom: 16px;
        & .trow {
          border-radius: 5px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            border-bottom: 1px solid #eef1f7;
          }
        }
      }
    }
  }
}
